<!DOCTYPE html>
<html>
<head>
    <title>Conteo Incompleto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h2>Error: Conteo Incompleto</h2>
        <p>No has contado todos los productos. Por favor, asegúrate de marcar todos los productos y de ingresar la cantidad correspondiente antes de enviar el conteo.</p>
        <a href="{% url 'registrar_conteo' %}" class="btn btn-warning">Volver a Revisar</a>
    </div>
</body>
</html>
