<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Bienvenido al Dashboard</h1>
    <p>Usuario: {{ request.user.username }}</p>

    <h2>Acciones Disponibles</h2>
    <ul>
        <li><a href="{% url 'registro' %}">Agregar Nuevo Empleado</a></li>
        <li><a href="#">Ver Inventarios (Próximamente)</a></li>
        <li><a href="#">Gestionar Ventas (Próximamente)</a></li>
    </ul>

    <h2>Selecciona tu Sucursal para Iniciar el Turno</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.sucursal.label_tag }}  <!-- Renderiza la etiqueta del campo -->
        {{ form.sucursal }}            <!-- Renderiza el campo select del formulario -->
        <button type="submit">Iniciar Turno</button>
    </form>

    <!-- Formulario de Logout -->
    <form id="logout-form" action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Cerrar Sesión</button>
    </form>
</body>
</html>
