<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Ventas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Carrito de Ventas</h1>

        {% if carrito_items %}
            <ul class="list-group mb-3">
                {% for item in carrito_items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ item.cantidad }} x {{ item.producto.nombre }} 
                        <span>{{ item.subtotal }} {{ item.producto.moneda }}</span>
                    </li>
                {% endfor %}
            </ul>
            <p class="font-weight-bold">Total: {{ total }} {{ carrito_items.0.producto.moneda }}</p>
        {% else %}
            <p>El carrito está vacío. ¡Agrega productos al carrito!</p>
        {% endif %}
        
        <!-- Botón para agregar productos al carrito -->
        <div class="d-flex justify-content-between">
            <a href="{% url 'ventas:inicio_turno' turno.id %}" class="btn btn-secondary">
                Agregar Productos al Carrito
            </a>

            <!-- Botones de cotización y facturación solo si hay productos en el carrito -->
            {% if carrito_items %}
                <div class="d-flex">
                    <a href="{% url 'facturacion:generar_cotizacion' %}" class="btn btn-primary">Generar Cotización</a>
                    <a href="{% url 'facturacion:generar_comprobante_pago' %}" class="btn btn-success ml-2">Comprobante de Pago</a>
                    <a href="{% url 'facturacion:generar_factura' %}" class="btn btn-success ml-2">Generar Factura</a>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
