<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Reporte</title>
</head>
<body>
    <h1>Detalle del Reporte</h1>
    <p><strong>Sucursal:</strong> {{ reporte.sucursal.nombre }}</p>
    <p><strong>Total Ventas:</strong> {{ reporte.total_ventas }}</p>
    <p><strong>Total Facturas:</strong> {{ reporte.total_facturas }}</p>
    <p><strong>Total Efectivo:</strong> {{ reporte.total_efectivo }}</p>
    <p><strong>Otros Métodos de Pago:</strong> {{ reporte.otros_metodos_pago }}</p>
    <p><strong>Fecha:</strong> {{ reporte.fecha }}</p>
    <a href="{% url 'lista_reportes' %}">Volver a la lista</a>
</body>
</html>
