<!DOCTYPE html>
<html>
<head>
    <title>Lista de Reportes</title>
</head>
<body>
    <h1>Lista de Reportes</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Sucursal</th>
            <th>Total Ventas</th>
            <th>Fecha</th>
            <th>Detalle</th>
        </tr>
        {% for reporte in reportes %}
        <tr>
            <td>{{ reporte.id }}</td>
            <td>{{ reporte.sucursal.nombre }}</td>
            <td>{{ reporte.total_ventas }}</td>
            <td>{{ reporte.fecha }}</td>
            <td><a href="{% url 'detalle_reporte' reporte.id %}">Ver Detalle</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
