<!-- Sidebar -->
<div id="sidebar" class="col-auto">
    <ul class="nav flex-column mt-3">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'crear_usuario' %}">Agregar Nuevo Empleado</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Ver Inventarios (Próximamente)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Gestionar Ventas (Próximamente)</a>
        </li>
        <!-- Agrega más enlaces aquí -->
    </ul>
</div>
