<div class="sidebar">
    <h4 class="text-center">Empleado Panel</h4>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ventas:registrar_venta' %}">Registrar Venta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ventas:ver_carrito' %}">Ver Carrito</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ventas:finalizar_venta' %}">Finalizar Venta</a>
        </li>
        <!-- Agrega más enlaces aquí según las funcionalidades que un empleado pueda necesitar -->
    </ul>
</div>
